{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <h2>{{ spectacle }}</h2>
        <p>{{ spectacle.description }}</p>
        <img src="{{ spectacle.image }}" alt="Illustration du spectacle"/>
        <p>{{ spectacle.date|date('d/m/Y') }}</p>
        <br>
        <h3>Liste des participants :</h3>
        <ul>
            {% for p in spectacle.participants %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_inscription') }}">S'inscrire à ce spectacle</a>
    </main>
{% endblock %}
