{% extends 'base.html.twig' %}

{% block title %}TP1 Symfony{% endblock %}

{% block body %}
<main>
    <div class="wrapper cf">
        <!-- posts list -->
        <div id="posts-list" class="cf">
            {% for evenement in evenements %}
            <article>
                <div class="feature-image">
                    <a href="{{ path('app_evenement', { 'nom': evenement.nom }) }}" ><img src="{{ evenement.image }}" alt="Thumbnail" /></a>
                    <div class="entry-date"><div class="month">{{ evenement.date|date('M') }}</div><div class="number">
                        {{ evenement.date|date('d') }}</div></div>
                </div>
                <div class="excerpt">
                    <a href="#" class="post-heading" >{{ evenement.nom }}</a>
                    <p>
                        {{ evenement.description }}
                    </p>
                </div>
                <i class="tape"></i>
            </article>
            {% endfor %}
        </div>
        <!-- ENDS posts list -->
    </div>
</main>>
{% endblock %}
